Django==1.5.4
South==0.7.6
psycopg2==2.4.6
django-devserver==0.5.0
django-compressor==1.3
django-debug-toolbar==0.9.4
Pillow==2.0.0
gunicorn==0.17.4
fabric==1.6.1
pyflakes==0.8.1
flake8
django-jasmine==0.4.1
mock
celery[redis,msgpack]==3.1.11
django-celery==3.1.10
django-ckeditor
xlrd==0.9.3
